* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

ul, ol {
  list-style: none;
}

hr {
  border-color: #DDDDDD;
}

#bookoa_blue {
  color: #237AF6;
}

#bookoa_red {
  color: #E14F4F;
}

#bookoa_gray {
  color: #6F6F6F;
}

.more_view {
  font-size: 14px;
}


/* header */

header {
    width: 100%;
    height: 250px;
}


/* ------------------------------------------ header top ---------------------------------------------------- */


/* header top */
#header_top {
    width: 100%;
    height: 36px;
    background-color: #237AF6;
}

/* header top content */
#header_top_content {
    width: 1140px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

/* header top navigation */
#ht_nav {
    width: 620px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ht_nav ul */
#ht_nav ul {
    display: flex;
    color: white;
    font-family: bold;
    font-size: 11px;
}

/* ht_nav ul li */
#ht_nav ul li {
    margin: 0 11px;
}

#ht_nav ul li a {
    color: white;
    font-weight: 590;
    font-size: 12px;

    text-decoration: none;

}


/* ------------------------------------------- header bottom ----------------------------------------------------- */


/* header bottom */
#header_bottom {
    width: 1140px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 로고 */
#logo {
    width: 255px;
    height: 61px;
    
}

/* header bottom 검색창 */
#hb_search {
    width: 620px;
    height: 61px;
    display: flex;
    align-items: center;
    border: 2px solid #237AF6;
    justify-content: space-between;
}

.search_category {
    width: 100px;
    border: none;
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
}

#search_book {
    width: 450px;
    margin-right: 10px;
    border: none;
}

.search_category:focus, 
#search_book:focus {
    outline: none;
}

#search_btn {
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

#search_btn_icon {
    width: 20px;
    height: 20px;
}

/* header bottom 회원수 */
#hb_member {
    width: 235px;
    height: 76px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#hb_member_element {
    width: 110px;
    height: 38px;

    display: flex;
    justify-content: flex-start;
}

#hb_member_element img {
    width: 35px;
    height: 35px;
}

#hb_member_element p {
    width: max-content;
    font-size: 12px;
    font-weight: 400;    
}

#hb_member_element span {
    font-size: 13px;
    color: #237AF6;
}

#hb_member_text_group {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}


/* --------------------------------------------- sub header ---------------------------------------------------------- */

.sub_header {
    width: 100%;
    height: 70px;
    display: none;
    position: fixed;
    border-bottom: 1px solid #f0f0f0;
    z-index: 10000;
    background-color: white;
}

.sub_header.active {
    display: block;
    top: 0;
}

.sh_main {
    width: 1170px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sh_logo {
    width: 110px;
    height: 40px;
}

.icon_pack {
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
}

.icon_pack img {
    width: 18px;
    height: 18px;
}

.icon_pack img:nth-child(2) {
    width: 22px;
    height: 22px;
}


/* ---------------------------------------------- 리모콘 ------------------------------------------------------------------ */

.right_remote {
    width: 63px;
    height: 207px;
    float: right;
    position: fixed;
    right: 20px;
    bottom: 23px;
}

.remote_group {
    width: 63px;
    height: 207px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#q_mark {
    width: 60px;
    height: 60px;
}

#to_top {
    width: 60px;
    height: 60px;
}

#kakao {
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: yellow;
    border-radius: 1px;
}

/* ----------------------------------- 메인 메뉴 및 실시간 검색어 (in header) -------------------------------------------------- */


/* 단순 보더 라인 색 전용 */
#border_line {
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.main_menu_realtimesearch {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 메인 메뉴 */
.main_menu {
    width: 730px;
    height: 50px;
    align-content: center;
    margin-left: 10px;
}

.menu_certi_store img {
    width: 14px;
    height: 14px;
}

.main_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu ul li {
    position: relative;
}

.main_menu ul li:hover::after {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 30%;
    content: ' ';
    background-color: rgb(242, 242, 28);
    z-index: -1;
}

.main_menu ul li a {
    font-weight: 400;
    text-decoration: none;
}

.sub_genre, .sub_price, .sub_event {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 100;
    list-style: none;
}

.sub_genre {
    width: 750px;
}

.sub_price {
    width: 700px;
    height: 100px;
}

.sub_event {
    width: 130px;
}

.sub_event li {
    margin-bottom: 20px;
}

.sub_event li:nth-child(5) {
    margin-bottom: 0;
}

.menu_search_genre:hover .sub_genre {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 15px;
}

.menu_search_genre:hover .sub_genre li,
.menu_event:hover .sub_event li {
    width: max-content;
}

.menu_search_genre:hover .sub_genre li a {
    width: max-content;
    text-decoration: none;
    color: #4b4b4b;
    font-size: 14px;
}

.menu_price_conner:hover .sub_price {
    display: flex !important;
    justify-content: flex-start;
}

.menu_price_conner:hover .sub_price li {
    margin-right: 60px;
    width: max-content;
}

.menu_price_conner:hover .sub_price li a{ 
    text-decoration: none;
    color: #4b4b4b;
    font-size: 14px;
}

.menu_event:hover .sub_event {
    display: block !important;
}

.menu_event:hover .sub_event li a {
    width: max-content;
    text-decoration: none;
    color: #4b4b4b;
    font-size: 14px;
}

#priceCorner {
    color: #E14F4F;
}

/* 실시간 검색어 */
.realtimesearch {
    width: 170px;
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10000 !important;
}

.realtimesearch:hover {
    height: 320px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow: visible;
}

.realtimesearch p {
    display: none;
    font-size: 12px;
    font-weight: bold;
    color: #1d60bf;
    margin-top: 5px;
    margin-bottom: 20px;
}

.realtimesearch:hover p {
    display: block;
}

.rts_wrap {
    width: 110px;
    height: 20px;
    overflow: hidden;
}

.realtimesearch:hover .rts_wrap {
    height: auto;
    overflow: visible;
    margin-top: 0;
}

.rts_list {
    width: 200px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    position: relative;
    top: 0;
    background-color: white;
}

.realtimesearch:hover .rts_list {
    top: 0;
    transition: none !important;
    border-top: 1px solid #f0f0f0;
}

.rts_list li {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 12px;
    color: #1d60bf;
}

.rts_list li span {
    font-weight: bold;
    color: #1d60bf;
    margin-right: 2px;
    width: 15px;
}

#rts_btn {
    position: absolute;
    top: 12px;
    right: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 20%;
    margin-right: 10px;
}


/* ----------------------------------------------- book_info ------------------------------------------------------------- */


/* 책 제목 그룹 */
.top {
    width: 1140px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


/* 등급, 품질 등급 체크 그룹 */
.top_grade {
    display: flex;
    justify-content: flex-start;
}


/* 등급 */
.tg_left {
    width: 60px;
    height: 22px;
    margin-right: 18px;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;
    background-color: #7B97BF;
    color: white;
}

/* 품질 등급 체크 */
.tg_right {
    width: 110px;
    height: 22px;
    font-size: 13px;
    padding-top: 1px;
    background-color: #237AF6;
    text-align: center;
}

.tg_right a {
    text-decoration: none;
    color: white;
}


/* 책 제목 */
.top_title {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 10px;
}


/* 저자, 출판사, 출간일, 상품등록일 */
.tg_ul {
    display: flex;
    
    font-size: 13px;
    color: #61616B;
    font-weight: 500;

    margin-bottom: 20px;
}

.tg_ul li::after {
    content: '|';
    color: #cccccc;
    font-size: 8px;
    margin: 0 10px;
    position: relative;
    bottom: 2.3px;
}

.tg_ul li:nth-child(4)::after {
    content: '';
}


/* -------------------------------------------------------- 서브 책 정보 ------------------------------------------------------- */

.book_info {
    width: 1140px;
    height: 390px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-top: 1px solid #d1d1d1;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* 내용 배경 */
.book_info_shape {
    width: 650px;
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* 책 이미지 */
.book_info_img {
    width: 200px;
    height: 275px;
    margin-top: 10px;
    margin-right: 30px;
}

/* 책 정보 */
.book_info_content {
    width: 450px;
    height: 280px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

/* 정보 좌측 - 카테고리, ISBN, 판매가, 정가, 배송비 */
.bic_key {
    width: 20%;
    height: 80%;
    color: #696969;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.bic_key p, .bic_value p {
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}


/* 정보 우측 - 좌측 상세 값 */
.bic_value {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.bic_value p:nth-child(3) {
    font-size: 23px;
    font-weight: bold;
}


/* 최고가, 평균가, 최저가 테이블 */
.bic_table {
    width: 100%;
    height: 20%;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #dedede;
    border-collapse: collapse;
}

.bic_table tr:nth-child(1) {
    background-color: #eee;
}

.bic_table td {
    border: 1px solid #dedede;
    color: #444444;
    padding: 3px 0;
}


/* ------------------------------------------------ main_info ---------------------------------------------------- */

.main_info {
    width: 1140px;
    height: 1510px;
    margin: 0 auto;
    display: flex;
}

.mi_key {
    width: 20%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mk_seller_intro {
    height: 120px;
    margin-left: 30px;
    margin-top : 10px;
    display: flex;
    align-items: center;
}

.mk_intro {
    height: 120px;
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.mk_seller {
    height: 1100px;
    margin-left: 30px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
}

.mk_bookoa_notice{
    height: 350px;
    margin-left: 39px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
}

.mi_value {
    width: 80%;
    height: 1400px;
}

.mv_seller_intro {
    width: 850px;
    height: 120px;
    margin-left: 63px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
}

.mv_seller_intro p {
    margin-left: 40px;
}

.mv_intro {
    width: 850px;
    height: 120px;
    margin-left: 63px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
}

.mv_intro p {
    margin-left: 40px;
}

.mv_seller {
    width: 850px;
    height: 800px;
    margin-left: 63px;
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #d1d1d1;
}

.mvs_title {
    width: 800px;
    height: 25px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mvst_left {
    display: flex;
    align-items: center;
}

/* mvst_right div에 css 부여x */

.mvs_icon {
    width: 60px;
    height: 22px;
    margin-right: 10px;
    text-align: center;
    padding-top: 1.5px;
    font-size: 12px;
    background-color: #237AF6;
    font-weight: 800;
    color: white;
}

.mvst_left a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.mvst_left a:hover {
    color: #237AF6;
}

.mvst_right a {
    color: #237AF6;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.mvst_right a:hover {
    color: #6da5f2;
}

.mvs_table {
    width: 800px;
    border-collapse: collapse;
    color: #444444;
    margin-left: 30px;
    margin-bottom: 10px;
}

.mvs_table td:nth-child(2) {
    color: black;
    text-align: left;
    padding-left: 20px
}

.mvs_table td:nth-child(1),
.mvs_table tr:nth-child(1) td:nth-child(3) {
    background-color: #fafafa;
    text-align: left;
    padding-left: 15px;
}

.mvs_table tr:nth-child(1) td:nth-child(3) {
    padding: 0;
    text-align: center;
}

.mvs_table td {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    color: #444444;
    padding: 15px 30px;
    line-height: 1.5;
}


/* 판매자 판매 중인 다른 책 */
.seller_anotherbook {
    display: flex;
    width: 860px;
    margin-left: 30px;
    justify-content: space-between;
}

.sa_book {
    width: 800px;
}

.sa_book a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: black;
}

.sa_book_img {
    width: 110px;
    height: 150px;
    border: 1px solid salmon;
}

.sa_book_text {
    width: 110px;
    height: 124px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 15px;
}

.sa_book_title {
    margin-top: 10px;
    margin-bottom: 10px;
}
 
/* 북코아 안내사항 */
.mv_bookoa_notice {
    width: 850px;
    height: 350px;
    margin-left: 63px;
    margin-top: 50px;
    border-bottom: 1px solid #d1d1d1;
}

.mvbn_content {
    width: 700px;
    height: 270px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mvbn_content p {
    
}


/* 북코아 추천도서 */
.bookoa_recommend {
    width: 100%;
    height: 450px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.br_title {
    width: 1140px;
    padding: 0;
    height: max-content;
    margin: 0 auto;
    margin-bottom: 5px;
}

.br_title h2 {
    margin-left: 28px;
    margin-top: 50px;
}

.br_content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.br_book_group {
    width: 1100px;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.br_book {
    margin-right: 20px;
}

.br_book a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: black;
}

.br_book_img {
    width: 130px;
    height: 176px;
}

.br_book_text {
    width: 110px;
    height: 124px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    font-size: 15px;
}

.br_book_title {
    padding-bottom: 2px;
}

.br_book_text p:nth-child(2) {
    color: #606060;
    font-size: 12.5px;
}



/* ------------------------------------------------- footer -------------------------------------------------- */


/* footer */
footer {
    width: 100%;
    height: 170px;
    padding: 20px 0;
    margin-bottom: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343C47;
}

/* footer content 전체 집합 */
.footer_content_main {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* -------------------------------- footer content 좌측 (리스트, 회사정보) --------------------------------------------- */

footer ul {
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
}

.footer_content_left a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
}

.footer_content_left p {
    max-width: 762px;
    max-height: 63px;
    color: #9E9E9E;
    font-size: 12px;
}

.footer_content_left p span {
    font-weight: 500;
    color: #eee;
}

.footer_content_left ul li:nth-child(1) {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
}

.footer_content_left ul li::after {
    content: '|';
    color: #eee;
    font-size: 12px;
    margin: 0 3px;
    position: relative;
    bottom: 2.7px;
    font-weight: bold;
}

.footer_content_left ul li:nth-child(4)::after {
    content: '';
}

/* ------------------------------------- footer content 우측 (고객센터) -------------------------------------------------- */
.footer_content_right {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.footer_content_right p {
    align-self: flex-start;
    color: #eee;
    font-size: 15px;
    padding-right: 10px;
}

/* 고객센터, 상담시간 안내 버튼 */
.tel_cuns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tel {
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #8DFF83;
    
}

.cuns_btn {
    margin-left: 10px;
    text-align: center;
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
    font-size: 13px;
    padding: 6px 4px 6px 4px;
    text-decoration: none;
}



/* 하단 구매 버튼 */
.buy_group {
    width: 100%;
    height: 80px;
    background-color: #FAFAFA;
    z-index: 99999;
    position: fixed;
    bottom: 0;
}

.bg_main {
    width: 900px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.bgm_left {
    display: flex;
    align-items: center;
    width: 250px;
}

.bgml_text {
    margin-right: 35px;
}

.bgml_btn_group {
    display: flex;
    align-items: center;
}

.bgml_btn_group button {
    background-color: transparent;
    border: 1px solid #dedede;
    width: 35px;
    height: 35px;
}

.bgml_btn_group button:nth-child(1) img {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: 3.5px;
}

.bgml_btn_group button:nth-child(3) img {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.bgml_btn_group p {
    margin: 0 33px;
}

.bgm_center {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgmc_left {

}

.bgmc_right{

}

.bgm_right {
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bgmc_right p span {
    font-size: 22px;
    font-weight: bold;
    color: #237AF6;
}

.bgmr_bag {
    width: 100px;
    height: 50px;
    background-color: #5d5d5d;
    text-align: center;
}

.bgmr_buy {
    width: 180px;
    height: 50px;
    background-color: #237AF6;
    text-align: center;
}

 .bgmr_bag p,
 .bgmr_buy p {
    font-weight: bold;
    margin-top: 13px;
}

.bgmr_bag p a,
 .bgmr_buy p a {
    text-decoration: none;
    color: white;
 }


/* ---------------------------------- 상담시간 안내 눌렀을 때 ---------------------------------------- */


.modal {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.cuns_notice_main {
    width: 690px;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
}

.cuns_notice_title {
    width: 580px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.cuns_notice_title p {
    font-size: 24px;
    font-weight: 400;
}

.cuns_notice_close_btn {
    border: none;
    background-color: transparent;
}

.cuns_notice_close_btn img {
    width: 13px;
    height: 13px;
}

.cuns_notice_content {
    width: 550px;
    height: 250px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.cuns_notice_content p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #6F6F6F;
}

.cuns_notice_content li {
    font-size: 14px;
    color: #494949;
    margin-bottom: 5px;
}